.data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    padding: 5px 5px;
}

.button-container {
    display: flex;
    gap: 10px; 
}
